<%- include('./property_header.ejs') %>

<h3>Your Status Details</h3>
<!-- <p>Recorded at : <%= obj.created_at %> </p>   -->
<h4 style="text-align: left;">Your Property Viewer Details</h4>
<div style="border: 1px solid #80808054;padding: 25px;width: 661px;border-radius: 16px;">
<p><h2><span></span> <span><%= obj.property_title %></span></h2></p>
<p><span>Message</span>: <span><%= obj.message %></span></p>
</div>  





<%- include('./property_footers.ejs') %>
