
 
<%- include('./match_property_header.ejs') %>
<style>
  /* .btn{
   
  align-items: center; 
	padding: 1em 1.5em;
	text-align: center;
	text-decoration: none;
	font-size: 1em;
  margin-top: 600%;
  margin-left:-1200%;
  background: #fe5900;
    color: #fff;
  align-items: center;
	display: inline-block;border-radius: 8px ;
	width: 136%; padding:6px;
  }

  .btn:hover{
    background-color:  #fff;
    color: #fe5900;
  } */
  /* .img{
    max-width: 100%;
    height: auto;
        display: block;

  }
  .box{
        width: 250px;        
        border: 5px solid black;
    }    */
</style>
<h3>Match Your Properties</h3>
<!-- <h4 style="text-align: left;">Your Property Viewer Details</h4> -->
<div style="border: 1px solid #80808054;padding: 25px;width:78%;height:100% ;border-radius: 16px;">
  <!-- <p><span>Property_Image</span>: <span><%= 'Demo Image' %></span></p> -->
 
  <!-- <div tabindex="-1" style="width: 50px; display: inline-block;"><img src=" http://192.168.1.20:5000/uploads/pictures/logo.png" alt="property"></div> -->
<!-- <div class="box"><img width="25%";height="100%"; src="http://134.209.229.112/nach24Admin/public/storage/napa-valley.jpg" class="img-fluid mx-auto lazy" alt="property"></div> -->
  <div style="margin-left:2% ;border-radius: 16px ;height:255px;width:90%;background-color:white;display: flex;" >
    <img style="margin-left:29px;border-radius: 16px; padding-top:3%;padding-bottom: 3%;"width="35%";height="100%"; src="http://134.209.229.112/nach24Admin/public/storage/napa-valley.jpg" class="img-fluid mx-auto lazy" alt="property">
    <div style=" margin-left:29px;"><h2>Swastik Luxurious Flats</h2>
    <h5>Location : Zürich, Switzerland  </h5>
    <h5>Price : 8 CHF</h5>
    <h5>Status :Active</h5>
    <h5>Posted On :01-11-2022</h5>
    <h5>Expiry On :01-12-2022</h5>  
    <a href=<%= 'url'%> 
      <button style="
      text-align: center;
      text-decoration: none;
      font-size: 1em;
      background: #fe5900;
      color: #fff;
    
      align-items: center;
      display: inline-block;border-radius: 8px ;
     padding:6px;" class="btn">Click to more Properties</a> 
     </button>  
</div>  
</div>  
</div>

<!-- <div 
style="padding: 30px 0;text-align: center;font-family: Arial;"> <a href=<%= 'url'%>  style="text-decoration: none;color:#53B1EF;" target="_blank" > -->
<!-- <button style="align-items: center ; background-color: #53B1EF ;color:#fff ; border-color: #53B1EF; width: 50%; padding:20px"> -->

<!-- </a> -->
<!-- </button> -->
<!-- <br/><br/> -->
<!-- </div> -->

<%- include('./match_property_footer.ejs') %>
